<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách bài hát</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <h1 class="text-center">Danh sách bài hát</h1>
        <p th:text="${mess}" class="text-danger"></p>
        <form th:action="@{/song/search}">
            <input type="text" name="nameSearch" placeholder="Nhập thông tin cần tìm kiếm" class="w-50">
            <button class="btn btn-primary">Tìm kiếm</button>
        </form>
        <a th:href="@{/song/create}">
            <button class="btn btn-primary">Thêm bài hát</button>
        </a>
        <table class="table table-striped">
            <tr>
                <th>STT</th>
                <th>Id</th>
                <th>Tên bài hát</th>
                <th>Nhạc sĩ</th>
                <th>Thể loại</th>
                <th>Đường dẫn</th>
            </tr>
            
        </table>
    </div>
</div>
</body>
</html>