<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10 container-fluid">
        <h1 class="text-center">Danh sách blog</h1>
        <a th:href="@{/blog/create}">
            <button class="btn btn-primary">Thêm blog mới</button>
        </a><br><br>
        <a th:href="@{/category/list}">
            <button class="btn btn-primary">Danh sách danh mục</button>
        </a>
        <div class="text-danger">
            <div th:if="${mess}">
                <p th:text="${mess}"></p>
            </div>
        </div>
        <form th:action="@{/blog}">
            <input name="nameSearch" placeholder="nhập tên" th:value="${nameSearch}">
            <label class="form-label">Danh mục</label>
            <select th:if="${categorySearch==0}" name="id">
                <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
            <select name="categorySearch" th:if="${categorySearch!=0}">
                <option  th:value="${categorySearch.id}" th:text="${categorySearch.name}"></option>
                <option th:each="category : ${categoryList}" th:if="${category.id!=categorySearch}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
            <button>Search</button>
        </form>
        <table class="table table-striped">
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Danh mục</th>
                <th>Thời gian đăng</th>
                <th>Nội dung</th>
                <th>Sửa</th>
                <th>Xoá</th>
                <th>Xem</th>
                <th scope="col">
                    <button id="btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            data-bs-toggle="modal" data-bs-target="#deleteModals">Xoá nhiều
                    </button>
                </th>
            </tr>
            <tr th:each="blog, row : ${pages}">
                <td th:text="${row.count}"></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.category.getName()}"></td>
                <td th:text="${blog.time}"></td>
                <td th:text="${blog.status}"></td>
                <td>
                    <a th:href="@{/blog/edit(id=${blog.getId()})}">
                        <button class="btn btn-primary">Sửa</button>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                            th:attr="onclick=|deleteBlog('${blog.getId()}','${blog.getTitle()}')|">Xoá
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detail"
                            th:attr="onclick=|showDetail('${blog.getId()}', '${blog.getTitle()}', '${blog.getCategory().getName()}',
                            '${blog.getTime()}', '${blog.getStatus()}')|">Chi tiết
                    </button>
                </td>
                <td>
                    <label>
                        <input name="idDelete" class="form-check-input" type="checkbox" th:value="${blog.getId()}">
                    </label>
                </td>
            </tr>
            <tr th:if="${pages.isEmpty()}">
                <td colspan="7" class="text-center">Danh sách trống</td>
            </tr>
        </table>
        <div class="text-center">
            <a th:href="@{/blog/list(page=${pages.number - 1}, nameSearch=${nameSearch}, categorySearch=${categorySearch})}"
               th:if="${pages.hasPrevious()}">
                <button class="btn btn-primary">Previous</button>
            </a>

            <span th:text="${pages.number + 1}"></span>/<span th:text="${pages.totalPages}"></span>

            <a th:href="@{/blog/list(page=${pages.number + 1}, nameSearch=${nameSearch}, categorySearch=${categorySearch})}"
               th:if="${pages.hasNext()}">
                <button class="btn btn-primary">Next</button>
            </a>
        </div>

        <!--Modal delete-->
        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Xoá</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn xoá blog <span id="nameBlogDelete"></span> không?
                    </div>
                    <form action="/blog/delete" method="get">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng
                            </button>
                            <button type="submit" class="btn btn-danger">Xoá</button>
                            <input hidden name="id" type="text" id="idDelete">
                            <input hidden name="action" value="delete" type="text" id="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Modal detail-->
        <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4"><h5>Mã blog</h5></div>
                                <h5></h5>
                                <div class="col-md-8 ms-auto" id="showIdDetail"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4"><h5>Tiêu đề</h5></div>
                                <div class="col-md-8 ms-auto" id="showTitleDetail"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4"><h5>Danh mục</h5></div>
                                <div class="col-md-8 ms-auto" id="showCategoryDetail"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4"><h5>Thời gian đăng</h5></div>
                                <div class="col-md-8 ms-auto" id="showTimeDetail"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4"><h5>Tình trạng</h5></div>
                                <div class="col-md-8 ms-auto" id="showStatusDetail"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal delete nhiều-->
        <div class="modal fade" id="deleteModals" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel1">Xoá Blog</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--                        Bạn có muốn xoá blog có mã <span id="titleBlogDeletes"></span> không?-->
                        Bạn có muốn xoá những blog đã chọn không?
                    </div>
                    <form action="/blog/multiDelete" method="get">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                            </button>
                            <button type="submit" class="btn btn-danger">Xoá</button>
                            <input hidden type="text" id="idDeleteMore" name="idDeleteMore">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    function deleteBlog(id, name) {
        document.getElementById('nameBlogDelete').innerText = name;
        document.getElementById('idDelete').value = id;
    }

    function showDetail(id, title, category, time, status) {
        document.getElementById("showIdDetail").value = id;
        document.getElementById("showTitleDetail").innerText = title;
        document.getElementById("showCategoryDetail").innerText = category;
        document.getElementById("showTimeDetail").innerText = time;
        document.getElementById("showStatusDetail").innerText = status;
    }

    document.getElementById('btn').onclick = function () {
        let checkbox = document.getElementsByName('idDelete');
        let result = "";
        for (let i = 0; i < checkbox.length; i++) {
            if (checkbox[i].checked === true) {
                result += '.' + checkbox[i].value;
            }
        }
        document.getElementById('idDeleteMore').value = result;
    };
</script>
</html>