<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous">
    </script>
</head>
<body>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10 container-fluid">
        <h1 class="text-center">Danh sách blog</h1>
        <form>
            <label for="searchName"></label><input type="text" id="searchName" placeholder="Nhập tên...">
            <button id="btn-save" type="button" class="btn btn-primary" onclick="search()">Tìm kiếm</button>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Danh mục</th>
                <th>Thời gian đăng</th>
                <th>Nội dung</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <button class="btn btn-secondary" role="button" onclick="more()">Xem thêm...</button>
    </div>
</div>
</body>
<script th:inline="javascript">
    display();

    function more() {
        display();
    }

    function display() {
        $.ajax({
            contentType: 'application/json',
            type: "GET",
            dataType: "json",

            url: "http://localhost:8080/api/blog/quantity",
            success: function (data) {
                let content = "";
                for (let i = 0; i < data.length; i++) {
                    content += '  <tr>\n' +
                        '<td>' + (i + 1) + '</td>\n' +
                        '<td>' + data[i].title + '</td>\n' +
                        '<td>' + data[i].category.name + '</td>\n' +
                        '<td>' + data[i].time + '</td>\n' +
                        '<td>' + data[i].status + '</td>\n' +
                        '</tr>'
                }
                $("tbody").html(content);
            }
        });
    }

    function search() {
        let searchName = $("#searchName").val();
        console.log(searchName);
        if (searchName === "") {
            display();
        } else {
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                dataType: "json",
                //tên API
                url: "http://localhost:8080/api/blog/search/" + searchName,
                success: function (data) {
                    let content = "";
                    for (let i = 0; i < data.length; i++) {
                        content += '  <tr>\n' +
                            '<td>' + (i + 1) + '</td>\n' +
                            '<td>' + data[i].title + '</td>\n' +
                            '<td>' + data[i].category.name + '</td>\n' +
                            '<td>' + data[i].time + '</td>\n' +
                            '<td>' + data[i].status + '</td>\n' +
                            '</tr>'
                    }
                    if (content === "") {
                        $("tbody").html("isEmpty")
                    } else {
                        $("tbody").html(content);
                    }
                }
            });
        }
    }
</script>
</html>