<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <h1 class="text-center">Chỉnh sửa</h1>
        <a href="/song/list"><button class="btn btn-primary">Quay lại danh sách</button></a>
        <form th:object="${song}" th:action="@{/song/edit/{id}(id=${id1})}" method="post">
            <table class="table table-light">
                <tr>
                    <td><label for="id" class="form-label">Id</label></td>
                    <td><input th:field="*{id}" class="form-control" id="id" th:placeholder="${song.getId()}"></td>
                </tr>
                <tr>
                    <td><label for="name" class="form-label">Tên bài hát</label></td>
                    <td><input th:field="*{name}" class="form-control" id="name" th:placeholder="${song.getName()}"></td>
                </tr>
                <tr>
                    <td><label for="musician" class="form-label">Tên nghệ sĩ</label></td>
                    <td><input th:field="*{musician}" class="form-control" id="musician" th:placeholder="${song.getMusician()}"></td>
                </tr>
                <tr>
                    <td><label for="genre" class="form-label">Thể loại</label></td>
                    <td><input th:field="*{genre}" class="form-control" id="genre" th:placeholder="${song.getGenre()}"></td>
                </tr>
                <tr>
                    <td><label for="path" class="form-label">Đường dẫn</label></td>
                    <td><input th:field="*{path}" class="form-control" id="path" th:placeholder="${song.getPath()}"></td>
                </tr>
            </table>
            <button class="btn btn-success" style="margin-left: 45%" type="submit">Lưu</button>
        </form>
    </div>
</div>
</body>
</html>